---
layout: page
title: People
---

<div class="row">
  <div class="col-xs-12 col-md-12" style="padding: 0.5rem">
    <center><h1 class="post-title display-5" style="padding: 1rem; font-size: 1.8rem;">A TEAM | A FAMILY</h1></center>
  </div>

  <div class="col-xs-12 col-md-12" style="padding: 0.5rem">
    <center><h1 class="post-title display-5" style="padding: 1rem; color: #ff004f; font-size: 3rem;">Meet Our Leaders!</h1></center>
  </div>

  <div class="card-deck" style="padding: 0.5rem; justify-content: center;">
  {% for member in site.data.members %}
  {% if member.post=="Leader" %}
  <div class="col-md-4" style="padding: 0.5rem">
    <div class="card">
      <img class="card-img-top" src="{{site.url}}{{ site.baseurl }}/assets/img/team/current/{{member.img}}" alt="Card image cap">
      <div class="card-body">
        <center>
        <h6 class="card-title">{{member.firstname}} {{member.lastname}} <br> {{member.post}}</h6>
        <hr>
        {% if member.mail %}<a href="mailto:{{ member.mail }}" class="social-icon-profile" target="_blank"><i class="fas fa-envelope"></i></a>{% endif %}
        {% if member.fb %}<a href="https://www.facebook.com/{{ member.fb }}" class="social-icon-profile" target="_blank"><i class="fab fa-facebook-f"></i></a>{% endif %}
        {% if member.github %}<a href="https://github.com/{{ member.github }}" class="social-icon-profile" target="_blank"><i class="fab fa-github-alt"></i></a>{% endif %}
        {% if member.about %}<a href="" type="button" class="social-icon-profile" data-toggle="modal" data-target="#{{member.firstname}}{{member.lastname}}Modal"><i class="fas fa-id-badge"></i></a>{% endif %}
        <a class="social-icon-profile"></a>
        </center>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  </div>

  <div class="col-xs-12 col-md-12" style="padding: 0.5rem">
    <center><h1 class="post-title display-5" style="padding: 1rem; color: #ff004f; font-size: 3rem;">Meet Our Secretaries!</h1></center>
  </div>

  <!-- No secies yet -->
  <!-- TODO : Add a table full of info of secies -->
  <div class="card-deck" style="padding: 0.5rem; justify-content: center;">
    {% for member in site.data.members %}
    {% if member.post=="Secretary" %}
    <div class="col-md-4" style="padding: 0.5rem">
      <div class="card">
        <img class="card-img-top" src="{{site.url}}{{ site.baseurl }}/assets/img/team/current/{{member.img}}" alt="Card image cap">
        <div class="card-body">
          <center>
          <h6 class="card-title">{{member.firstname}} {{member.lastname}} <br> {{member.post}}</h6>
          <hr>
          {% if member.mail %}<a href="mailto:{{ member.mail }}" class="social-icon-profile" target="_blank"><i class="fas fa-envelope"></i></a>{% endif %}
          {% if member.fb %}<a href="https://www.facebook.com/{{ member.fb }}" class="social-icon-profile" target="_blank"><i class="fab fa-facebook-f"></i></a>{% endif %}
          {% if member.github %}<a href="https://github.com/{{ member.github }}" class="social-icon-profile" target="_blank"><i class="fab fa-github-alt"></i></a>{% endif %}
          {% if member.about %}<a href="" type="button" class="social-icon-profile" data-toggle="modal" data-target="#{{member.firstname}}{{member.lastname}}Modal"><i class="fas fa-id-badge"></i></a>{% endif %}
          <a class="social-icon-profile"></a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
</div>

<!-- Modal -->
{% for member in site.data.members %}
<div class="modal fade" id="{{member.firstname}}{{member.lastname}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{member.firstname}} {{member.lastname}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: justify">
        <center><img class="portrait-img" src="{{site.url}}{{ site.baseurl }}/assets/img/team/current/{{member.img}}" style="margin-bottom: 1.5rem"></center>
        {{member.about}}
      </div>
    </div>
  </div>
</div>
{% endfor %}

<br>
<!-- <div class="row">
  <div class="col-xs-12 col-md-12" style="padding: 0.5rem">
    <center><h1 class="post-title display-5" style="padding: 1rem">Alums</h1></center>
  </div> -->

  {% for teams in site.data.alums %}
  {% if teams.tenure!="founder" %}
  <div class="col-xs-12 col-md-12" style="padding: 0.5rem">
    <center><h1 class="post-title display-5" style="padding: 1rem">Coordinators {{teams.tenure}}</h1></center>
  </div>
  <div class="card-deck" style="padding: 0.5rem; justify-content: center;">
    {% for member in teams.members %}
    <div class="col-md-4" style="padding: 0.5rem">
      <div class="card">
        <img class="card-img-top" src="{{site.url}}{{ site.baseurl }}/assets/img/team/2019-2020/{{member.img}}" alt="Card image cap">
        <div class="card-body">
          <center>
          <h6 class="card-title">{{member.firstname}} {{member.lastname}} <br> {{member.post}}</h6>
          <hr>
          {% if member.mail %}<a href="mailto:{{ member.mail }}" class="social-icon-profile" target="_blank"><i class="fas fa-envelope"></i></a>{% endif %}
          {% if member.fb %}<a href="https://www.facebook.com/{{ member.fb }}" class="social-icon-profile" target="_blank"><i class="fab fa-facebook-f"></i></a>{% endif %}
          {% if member.github %}<a href="https://github.com/{{ member.github }}" class="social-icon-profile" target="_blank"><i class="fab fa-github-alt"></i></a>{% endif %}
          <!-- {% if member.about %}<a href="" type="button" class="social-icon-profile" data-toggle="modal" data-target="#{{member.firstname}}{{member.lastname}}Modal"><i class="fas fa-id-badge"></i></a>{% endif %} -->
          <a class="social-icon-profile"></a>
          </center>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endfor %}

  <div class="col-xs-12 col-md-12" style="padding: 0.5rem">
    <center><h1 class="post-title display-5" style="padding: 1rem; color: #ff004f; font-size: 3rem;">Our Ex-Leaders!</h1></center>
  </div>

  <div class="card-deck" style="padding: 0.5rem; justify-content: center;">
  {% for member in site.data.members %}
  {% if member.post=="Ex-Leader" %}
  <div class="col-md-4" style="padding: 0.5rem">
    <div class="card">
      <img class="card-img-top" src="{{site.url}}{{ site.baseurl }}/assets/img/team/current/{{member.img}}" alt="Card image cap">
      <div class="card-body">
        <center>
        <h6 class="card-title">{{member.firstname}} {{member.lastname}} <br> {{member.post}}</h6>
        <hr>
        {% if member.mail %}<a href="mailto:{{ member.mail }}" class="social-icon-profile" target="_blank"><i class="fas fa-envelope"></i></a>{% endif %}
        {% if member.fb %}<a href="https://www.facebook.com/{{ member.fb }}" class="social-icon-profile" target="_blank"><i class="fab fa-facebook-f"></i></a>{% endif %}
        {% if member.github %}<a href="https://github.com/{{ member.github }}" class="social-icon-profile" target="_blank"><i class="fab fa-github-alt"></i></a>{% endif %}
        {% if member.about %}<a href="" type="button" class="social-icon-profile" data-toggle="modal" data-target="#{{member.firstname}}{{member.lastname}}Modal"><i class="fas fa-id-badge"></i></a>{% endif %}
        <a class="social-icon-profile"></a>
        </center>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  </div>
  <!-- {% for member in site.data.members %}
<div class="modal fade" id="{{member.firstname}}{{member.lastname}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{member.firstname}} {{member.lastname}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: justify">
        <center><img class="portrait-img" src="{{site.url}}{{ site.baseurl }}/assets/img/team/2019-2020/{{member.img}}" style="margin-bottom: 1.5rem"></center>
        {{member.about}}
      </div>
    </div>
  </div>
</div>
{% endfor %} -->

  
  <div class="col-xs-12 col-md-12" style="padding: 0.5rem">
    <center><h1 class="post-title display-5" style="padding: 1rem; color: #ff004f; font-size: 3rem;">Our Esteemed Founder!</h1></center>
  </div>
  <div class="card-deck" style="padding: 0.5rem; justify-content: center;">
    {% for tenure in site.data.alums %}
    {% if tenure.tenure=="founder" %}
    {% for member in tenure.members %}
    <div class="col-md-4 style="padding: 0.5rem"">
      <div class="card">
        <img class="card-img-top" src="{{site.url}}{{ site.baseurl }}/assets/img/team/2019-2020/{{member.img}}" alt="Card image cap">
        <div class="card-body">
          <center>
          <h6 class="card-title">{{member.firstname}} {{member.lastname}} <br> {{member.post}}</h6>
          <hr>
          {% if member.mail %}<a href="mailto:{{ member.mail }}" class="social-icon-profile" target="_blank"><i class="fas fa-envelope"></i></a>{% endif %}
          {% if member.fb %}<a href="https://www.facebook.com/{{ member.fb }}" class="social-icon-profile" target="_blank"><i class="fab fa-facebook-f"></i></a>{% endif %}
          {% if member.github %}<a href="https://github.com/{{ member.github }}" class="social-icon-profile" target="_blank"><i class="fab fa-github-alt"></i></a>{% endif %}
          {% if member.about %}<a href="" type="button" class="social-icon-profile" data-toggle="modal" data-target="#{{member.firstname}}{{member.lastname}}Modal"><i class="fas fa-id-badge"></i></a>{% endif %}
          <a class="social-icon-profile"></a>
          </center>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
</div>

{% for teams in site.data.alums %}
{% for member in teams.members %}
<div class="modal fade" id="{{member.firstname}}{{member.lastname}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{member.firstname}} {{member.lastname}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: justify">
        <center><img class="portrait-img" src="{{site.url}}{{ site.baseurl }}/assets/img/team/2019-2020/{{member.img}}" style="margin-bottom: 1.5rem"></center>
        {{member.about}}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}
